body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background: #ffffff;
  color: #000000;
}

*:before,
*:after {
  box-sizing: inherit;
}

.App {
  max-width: 1200px;
  padding: 0 0.25rem;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.addButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.addButton {
  width: 96.5%;
  height: 40px;
  background: #4830e4;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.addButton span {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.BoardItem {
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  color: #fff;
  padding: 10px;
}

.BoardItem textarea {
  background: transparent;
  border: 0;
  font-size: 1rem;
  color: #fff;
  min-height: 60px;
  resize: none;
  overflow: visible;
}

.BoardItem textarea::placeholder {
  transition: 0.3s ease all;
  color: rgba(255, 255, 255, 0.6);
}

.BoardItem textarea:focus::placeholder {
  color: rgba(255, 255, 255, 0);
  transition: 0.3s ease all;
}

.FunctionNav {
  display: flex;
  justify-content: space-between;
}

.FunctionNav button {
  background: transparent;
  border: none;
  line-height: 1;
  padding: 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.FunctionNav button:hover {
  color: rgba(255, 255, 255, 1);
}

.flexform {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.btn-cntr {
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.ChangeLayout {
  background: rgba(159, 214, 180, 0);
  color: rgba(159, 214, 180, 1);
  border: 1px solid rgba(159, 214, 180, 1);
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}

.ChangeLayout:hover {
  background: rgba(159, 214, 180, 1);
  color: #fff;
}

.Rotate-2 {
  transform: rotate(180deg);
}

textarea {
  background: transparent;
  border: none;
  color: #ffffff;
}

.wentWell {
  background: #01dd89;
  margin: 5px;
}

.toImprove {
  background: #f3316b;
  margin: 5px;
}

.actionItems {
  background: #c62fda;
  margin: 5px;
}

.positives {
  background: #f0a500; 
  margin: 5px;
}
